
div.ui-table {
    box-shadow: 0 5px 5px -3px rgba(0,0,0,.2),
     0 8px 10px 1px rgba(0,0,0,.14),
     0 3px 14px 2px rgba(0,0,0,.12);

     &.ui-widget {
         font-size: 12px;
     }
    .ui-table-thead {
        tr {
            th {
                background: $defaultColor !important;
                color: white;
                font-size: 14px !important;
            } 
        } 
    } 
    .ui-table-tbody {
        tr {
            td {
                background: white;
                color: black;
                padding:0px;
            }
        } 
    } 
}

p-paginator {
    .ui-paginator {
        .ui-paginator-page {
            &.ui-state-active {
                background:$defaultColor;
                border-color:$defaultColor;
            }
        }
    }
} 

.--alingn-center {
text-align: center
}

.col-xs {
    width: 50px;
}

.col-md {
    width: 200px;
}

.col-lg {
    width: 400px;
}