<header class="header">
        <div class="top-bar"></div>
        <div class="navWrapper">
            <div class="menu-bar-wrapper">
                <div class="container">
                    <div class="header-inner">
                        <div class="site-logo-title">
                            <img src="../../assets/images/imageNav.png"/>
                        </div>
                        <mat-menu #appMenu="matMenu">
                            <ng-template matMenuContent let-name="name">
                                <button mat-menu-item [routerLink]="['']">Home</button>
                                <button mat-menu-item [routerLink]="['/users']">Usuarios</button>
                                <button mat-menu-item [routerLink]="['/products']">Produtos</button>
                            </ng-template>
                        </mat-menu>
                        <button mat-icon-button [matMenuTriggerFor]="appMenu" [matMenuTriggerData]="{name: 'Sally'}">
                            <mat-icon>more_vert</mat-icon>
                        </button>
                    </div>
                </div>
            </div>
        </div>
      </header>
<router-outlet></router-outlet>
